/* 기본 설정 */
body {
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Header 스타일링 */
header .logo a {
    text-decoration: none;
}

/* 메인 배너(Main Banner) 스타일링 */
.main-banner {
    position: relative;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

.main-banner h1 {
    position: relative;
    z-index: 2;
    margin: 0;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

.main-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('{{ url_for('static', filename='images/banner.png') }}');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: 1;
    box-shadow: inset 0 -200px 150px rgba(0, 0, 0, 0.7); /* 이미지와 텍스트 사이에 음영 추가 */
}

/* 제품 섹션 스타일링 */
.product-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 320px; /* 이미지 크기 증가 */
    height: 380px;
    text-align: center;
    transition: transform 0.3s;
}

.product-card img {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    object-fit: cover;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out; /* 호버 효과를 위한 전환 추가 */
}

.product-card:hover img {
    transform: scale(1.1); /* 이미지 확대 효과 */
}

.product-card p {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    margin: 0;
}

/* See all 버튼 스타일링 */
.see-all-button {
    display: inline-block;
    background-color: #b5651d;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 40px;
    text-decoration: none;
}

.see-all-button a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.see-all-button:hover {
    background-color: #9c4e14;
}

/* 하이퍼링크 밑줄 제거 */
.product-card a {
    text-decoration: none;
    color: inherit;
}