<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <header>
        <!-- 로고 -->
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img 
                    src="{{ url_for('static', filename='images/ih_logo.png') }}" 
                    alt="Individual by Hand Logo" 
                    class="logo-img">
            </a>
        </div>
        <!-- 네비게이션 -->
        <nav>
            <ul>
                <li><a href="#products">Products</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- Order 버튼 -->
        <a href="{{ url_for('show_products', category='all') }}" class="order-button">Order</a>
    </header>
    

    <!-- 제품 리스트 섹션 -->
    <section class="product-list-section">
        <h1>{{ category }}</h1>
        <ul class="product-list">
            {% for product in products %}
            <li class="product-list-item">
                <a href="/product/{{ product.model }}">
                    <div class="product-image">
                        <img src="{{ url_for('static', filename=product.image_path or 'images/default.png') }}" alt="{{ product.name }}">
                    </div>
                    <h3>{{ product.name }} ({{ product.model }})</h3>
                    <p class="price">{{ "{:,}".format(product.price) }}원</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>

    <footer class="footer">
        <div class="footer-container">
            <!-- 로고 -->
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='images/ih_logo2.png') }}" alt="Individual by Hand Logo">
            </div>
    
            <!-- 중간 텍스트 -->
            <div class="footer-text">
                <h2>Individual by Hand</h2>
                <p>Elevate Your Experience with Exquisite Leather Craftsmanship</p>
            </div>
    
            <!-- 소셜 미디어 링크 -->
            <div class="footer-social">
                <h2>Find Us on</h2>
                <ul>
                    <li><a href="https://www.instagram.com/individual_byhand" target="_blank">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </footer>
    

</body>
</html>
